p {font-family:verdana, sans-serif; font-size:18px; color:#A0A0A0}
hr {border:0px; width:100%; color:#e2e2e2; background-color:#e2e2e2; height:2px}

.topbanner{
	font-family: verdana, sans-serif;
	font-size:16px;
	color:#0D0D0D;
	background-color:#e2e2e2;
	text-align:right;
}

.topbanner li{
	display: inline;
	list-style-type:none;
	padding-right:20px;
}

.slides{
	font-family: verdana, sans-serif;
	font-size:16px;
	color:#0D0D0D;
	width:400px;
}

.planTable{
	font-family: verdana, sans-serif;
	font-size:16px;
	color:#000;
	text-align:left;
}
.planTable td {
	valign:top;
	vertical-align:top;
	color:#A0A0A0
}

.boxhead a {
    color: orange;
    text-decoration: none;
}

.fineprints{font-family:verdana, sans-serif; font-size:10px; color:#000000}

